<!DOCTYPE html>
<html lang="en">
<head>
    <link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Blog Website Design Tutorial</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <style>
        :root{
    --orange:#e67e22;
    --black:#333;
    --light-color:#777;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section{
    padding:2rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background:var(--black);
    color:#fff;
    border-radius: .5rem;
    padding:.9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--orange);
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding:1.2rem 7%;
}

.header .logo{
    color:var(--black);
    font-size: 2.5rem;
    margin-right: auto;
}

.header .logo span{
    color:var(--orange);
}

.header .navbar a{
    color:var(--light-color);
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons i{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    color:var(--black);
    background:#eee;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.header .icons i:hover{
    color:#fff;
    background:var(--orange);
}

.header .search-form{
    position: absolute;
    background:#fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    top:110%; right:7%;
    height:6rem;
    width:50rem;
    padding:1rem;
    display: none;
}

.header .search-form.active{
    display: flex;
}

.header .search-form #search-box{
    width:100%;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.7rem;
    color:var(--black);
    height: 100%;
}

.header .search-form label{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: .5rem;
    cursor: pointer;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--orange);
}

#menu-bars{
    display: none;
}

.banner{
    min-height: 80vh;
    background:url("https://img.freepik.com/free-vector/watercolor-abstract-purple-background_23-2149120778.jpg?w=2000")no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 8rem;
}

.banner .content{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:3rem;
    max-width: 50rem;
}

.banner .content h3{
    font-size: 4rem;
    color:var(--black);
    text-transform: uppercase;
}

.banner .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1.5;
}

.container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:#eee;
}

.container .posts-container .post{
    width:100%;
    padding:2rem;
    background:#fff;
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.container .posts-container .post .image{
    height: 40rem;
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.container .posts-container .post .date{
    padding-top: 2rem;
    font-size: 1.5rem;
    color:var(--orange);
}

.container .posts-container .post .title{
    padding-top: 1.5rem;
    font-size: 2.5rem;
    color:var(--black);
}

.container .posts-container .post .text{
    color:var(--light-color);
    font-size: 1.6rem;
    line-height: 1.7;
    padding:1rem 0;
}

.container .posts-container .links{
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.container .posts-container .links .user{
    margin-right: auto;
}

.container .posts-container .links .icon{
    padding-right: 1rem;
}

.container .posts-container .links a{
    font-size: 1.5rem;
    color:var(--light-color);
}

.container .posts-container .links a i{
    padding-right: .2rem;
    color:var(--black);
}

.container .posts-container .links a:hover{
    color:var(--orange);
}

.container .posts-container .links a:hover i{
    color:var(--orange);
}

.container .sidebar .box{
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    margin-bottom: 1.5rem;
}

.container .sidebar .box .title{
    padding:1.5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--black);
    text-transform: capitalize;
}

.container .sidebar .box .about{
    text-align: center;
    padding:1rem 1.5rem;
}

.container .sidebar .box .about img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin:1rem 0;
}

.container .sidebar .box .about h3{
    color:var(--orange);
    font-size: 2rem;
}

.container .sidebar .box .about p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.5;
    padding:1rem;
}

.container .sidebar .box .about .follow{
    padding:1rem 0;
}

.container .sidebar .box .about .follow a{
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background:var(--black);
    color:#fff;
    font-size: 1.7rem;
    margin:0 .1rem;
}

.container .sidebar .box .about .follow a:hover{
    background:var(--orange);
}

.container .sidebar .box .category{
    padding:1rem 1.5rem;
}

.container .sidebar .box .category a{
    padding:.4rem 0;
    font-size: 1.5rem;
    color:var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .sidebar .box .category a span{
    background:var(--light-color);
    color:#fff;
    border-radius: .5rem;
    padding:.5rem;
}

.container .sidebar .box .category a:hover{
    color:var(--orange);
}

.container .sidebar .box .category a:hover span{
    background-color:var(--orange);
}

.container .sidebar .box .p-post{
    padding:1rem 2rem;
}

.container .sidebar .box .p-post a{
    padding:1rem 0;
    display: block;
}

.container .sidebar .box .p-post a h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container .sidebar .box .p-post a span{
    color:var(--light-color);
    font-size: 1.5rem;
}

.container .sidebar .box .p-post a span i{
    padding-right: .2rem;
}

.container .sidebar .box .p-post a:hover h3{
    color:var(--orange);
}

.container .sidebar .box .tags{
    padding:1rem;
}

.container .sidebar .box .tags a{
    display: inline-block;
    padding:1rem 1.5rem;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    margin:.5rem;
}

.container .sidebar .box .tags a:hover{
    background:var(--black);
    color:#fff;
}

.contact{
    background:url(../images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact form{
    background:#fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem auto;
    max-width: 70rem;
    padding:2rem;
}

.contact form h3{
    color:var(--black);
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width:100%;
    background:#eee;
    padding:1rem;
    margin:.7rem 0;
    border-radius: .5rem;
    color:var(--black);
    font-size: 1.7rem;
}

.contact form .inputBox input{
    width:49%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .credit{
    text-transform: capitalize;
    font-size: 2rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .credit span{
    color:var(--orange);
}

.footer .follow{
    padding: 1rem 0;
}

.footer .follow a{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background:var(--black);
    color:#fff;
    margin:0 .1rem;
    text-align: center;
}

.footer .follow a:hover{
    background:var(--orange);
}













/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem;
    }

    section{
        padding:2rem;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;        
        display: none;
    }

    .header .navbar.active{
        display: block;
    }

    .header .navbar a{
        display: block;
        background:#f7f7f7;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: .5rem;
        border:var(--border);
    }

    .container{
        grid-template-columns: 1fr;
        gap:0;
    }

    .container .posts-container .post .image{
        height: 30rem;;
    }

    .footer{
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width:100%;
    }    

}
    </style>

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo"><span>b</span>logger</a>

    <nav class="navbar">
        
        <!--a> href="newpost.html">new post</a-->
        <a href="#banner">banner</a>
        <a href="#posts">my posts</a>
        <a href="#contact">contact me</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->

<!-- banner section starts  -->

<section class="banner" id="banner">

    <div class="content">
        <h3>"MY BLOG"</h3>
        <p>my experiences</p>                      

        <a href="#" class="btn">my blogs</a>
    </div>

</section>

<!-- banner section ends -->

<!-- posts section starts  -->

<section class="container" id="posts">

    <div class="posts-container"> 
                                                                                                               
        <div class="post">
            <img src ="https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712__340.jpg "alt="" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>1st jan 2022</span>
            </div>
            <h3 class="title">Traveling</h3>
            <p class="text"> Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, ship or other means, with or without luggage, and can be one way or round trip. Travel can also include relatively short stays between successive movements, as in the case of tourism.</p>
            <p class="text">Writing about these stories will not only fulfill your storytelling itch, but also improve your general writing skills. Whether it’s refining your powers of observation or enhancing your ability to reflect on meaningful experiences, writing about your travels can be a masterclass in everything from memoir to nature writing to world-building.   </p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>by admin</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

        <div class="post">
            <img src="https://food-images.files.bbci.co.uk/food/recipes/cupcakes_93722_16x9.jpg"alt="" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>10th october,2022</span>
            </div>
            <h3 class="title">FOOD</h3>
            <p class="text">Food is any substance consumed by an organism for nutritional support. Food is usually of plant, animal, or fungal origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals.   </p>
            <p class="text">Food industry is growing rapidly. There are a ton of celebrity bloggers who are emerging and creating incredible content with a ton of yummy recipes that you can use to make breakfast, lunch or even picnic snacks.  </p>
            <p class="text">If you say that food, especially savoury food, is tasty, you mean that it has a fairly strong and pleasant flavour which makes it good to eat.
                ->tasty
                appetizing.
                delectable.
                delish.
                divine.
                flavorful.
                flavorsome.
                flavory.
                full-flavored.</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>by admin</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

        <div class="post">
            <img src="https://img.taste.com.au/3H7xXhGZ/w1200-h630-cfill/taste/2016/11/pink-lamingtons-54576-1.jpeg" alt="" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>26th november 2022</span>
            </div>
            <h3 class="title">Cuisine</h3>
            <p class="text">A cuisine is a style of cooking characterized by distinctive ingredients, techniques and dishes, and usually associated with a specific culture or geographic region. Regional food preparation techniques, customs, and ingredients combine to enable dishes unique to a region.</p>
            <p class="text">5 Delicious Types of Cuisine You Should Try
                Caribbean. Incorporating various traditions blended together over time, Caribbean cuisine is a delightful fusion of other types of food, including African, Creole, and Latin American. ...
                Vietnamese. ...
                Korean. ...
                German. ...
                Indian.</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>by admin</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

    </div>

    <div class="sidebar">

        <div class="box">
            <h3 class="title">about me</h3>
            <div class="about">
                <img src="C:\Users\DELL\Desktop\project\pic.jpg" alt="">
                <h3>y.siva yasaswini</h3>
                <p></p>
                <div class="follow">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <h3 class="title">categories</h3>
            <div class="category">
                <a href="#"> travel <span>42</span></a>
                <a href="#"> photography <span>75</span> </a>
                <a href="#"> technology <span>22</span> </a>
                <a href="#"> fashion <span>17</span> </a>
                <a href="#"> study <span>48</span> </a>
                <a href="#"> science <span>39</span> </a>
                <a href="#"> music <span>59</span> </a>
                <a href="#"> public <span>12</span> </a>
                <a href="#"> business <span>32</span> </a>
                <a href="#"> sports <span>18</span> </a>
            </div>
        </div>

        <div class="box">
            <h3 class="title">popular posts</h3>
            <div class="p-post">
                <a href="#">
                    <h3>01. Traveling</h3>
                    <span><i class="far fa-clock"></i>1st jan 2022</span>
                </a>
                <a href="#">
                    <h3>02. Food</h3>
                    <span><i class="far fa-clock"></i>10th october 2022</span>
                </a>
                <a href="#">
                    <h3>03. Cuisine</h3>
                    <span><i class="far fa-clock"></i>26th november 2022</span>
                </a>

            </div>
        </div>

        <div class="box">
            <h3 class="title">popular tags</h3>
            <div class="tags">
                <a href="#">travel</a>
                <a href="#">photo</a>
                <a href="#">science</a>
                <a href="#">biology</a>
                <a href="#">aliens</a>
                <a href="#">nature</a>
                <a href="#">mountain</a>
                <a href="#">river</a>
                <a href="#">camp</a>
                <a href="#">landscape</a>
                <a href="#">world</a>
            </div>
        </div>

    </div>

</section>

<!-- posts section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <form action="">
        <h3>contact me</h3>
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>
        <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="follow">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

    <div class="credit">created by <span>mr. web designer</span> | all rights reserved</div>

</section>

<!-- footer section ends -->

























<!-- custom js file link  -->
<script>
    let menu = document.querySelector('#menu-bars');
let navbar = document.querySelector('.navbar');

menu.onclick = () =>{
  menu.classList.toggle('fa-times');
  navbar.classList.toggle('active');
  searchIcon.classList.remove('fa-times');
  searchForm.classList.remove('active');
}

let searchIcon = document.querySelector('#search-icon');
let searchForm = document.querySelector('.search-form');

searchIcon.onclick = () =>{
  searchIcon.classList.toggle('fa-times');
  searchForm.classList.toggle('active');
  menu.classList.remove('fa-times');
  navbar.classList.remove('active');
}

window.onscroll = () =>{
  menu.classList.remove('fa-times');
  navbar.classList.remove('active');
  searchIcon.classList.remove('fa-times');
  searchForm.classList.remove('active');
}
</script>
    
</body>
</html>